
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
        Agregar un nuevo Buque
</button>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
                <div class="modal-content">
                        <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalLabel">Agregar un nuevo buque</h1>
                                <button (click)="resetForm()" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                <div class="modal-body">
                        <form class="p-2" [formGroup]="practiceForm" (ngSubmit)="addVessel()">   
                                <div class="col-12">
                                        <label class="form-label" for="name">Nombre del Buque:*</label>
                                        <input class="form-control" formControlName="name" id="name" type="text" required>
                                        @if(hasErrors('name','required')){
                                        <p class=" text-danger small">Este campo es obligatorio.</p>
                                        }
                                        @if(hasErrors('name','minlength')){
                                                <p class=" small da">El nombre es muy corto.</p>
                                        }
                                </div>   
                                <div class="col-12">
                                        <label class="form-label" for="bandera">Bandera:*</label>
                                        <select formControlName="bandera" id="bandera" class="form-select" aria-label="Default select example">
                                                <option value="">Seleccionar una opcion</option>
                                                <option value="Argentina">Argentina</option>
                                                <option value="Panama">Panama</option>
                                        <option value="Liberia">Liberia</option>
                                        </select>
                                        @if(hasErrors('bandera','required')){
                                                <p  class=" text-danger small">Este campo es obligatorio.</p>
                                        }
                                </div>
                                <div class="col-12">
                                        <label class="form-label" for="vesseltype">Tipo de Buque:*</label>
                                        <select formControlName="vesseltype" id="vesseltype" class="form-select" aria-label="Default select example">
                                                <option value="">Seleccionar una opcion</option>
                                                <option value="Tanker">Tanker</option>
                                                <option value="Pushboat">Pushboat</option>
                                        </select>
                                        @if(hasErrors('vesseltype','required')){
                                        <p class=" text-danger small">Este campo es obligatorio.</p>
                                        }
                                        
                                </div>
                                <div class="col-12">
                                        <label class="form-label" for="contraseña">Numero IMO*</label>
                                        <input class="form-control" formControlName="numeroimo" id="contraseña" type="number" required>
                                        @if(hasErrors('numeroimo','required')){
                                        <p class=" text-danger small">Este campo es obligatorio.</p>
                                        }
                                </div>
                                <div class="modal-footer mt-4">
                                        <button type="button" class="btn btn-secondary" (click)="resetForm()" data-bs-dismiss="modal">Close</button>
                                        <button  onsubmit="addVessel()" [disabled]="practiceForm.invalid" type="submit" class="btn btn-primary" data-bs-dismiss="modal">Agregar</button>
                                </div>
                        </form> 
                </div>
                </div>
        </div>
</div>
<div>
        
        <div class=" rounded grid">
                <h2 class="text-center">Lista de Embarcaciones</h2>
                <ul class="col-6 fs-6 p-4 list-group bg-light gap-3 rounded" *ngFor="let embarcaciones of vessels">
                        <li class="list-group-item">
                                <span class="fw-bold">Buque: </span>{{embarcaciones.name}}
                        </li>
                        <li class="list-group-item">
                                <span class="fw-bold">Bandera: </span>{{embarcaciones.bandera}}
                        </li>
                        <li class="list-group-item">
                                <span class="fw-bold">Numero IMO: </span>{{embarcaciones.numeroimo}}
                        </li>
                        <li class="list-group-item">
                                <span class="fw-bold">Tipo de buque: </span>{{embarcaciones.vesseltype}}
                        </li>
                        
                </ul>
        </div>
</div>





